$colore_primario: red;
$colore_secondario: blue;

h1 {
  color: $colore_primario
}

h2 {
  color: $colore_secondario
}

h3 {
  color: $colore_primario
}

p {
  color: $colore_secondario
}
